<!-- checkout -->
<div class="container mb-5">
    <div *ngIf="(cartItems | keyvalue)?.length">
        <div class="row ml-2 mr-2 mt-3 justify-content-between">
            <h4 class="font-weight-bold">Cart</h4>
            <button class="btn btn-outline-danger btn-sm py-0" (click)="clearCartModal()">
                <i class="material-icons cursor" data-toggle="tooltip" data-placement="left" title="Clear Cart">
                    remove_shopping_cart
                </i>
            </button>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-md-8" *ngIf="(cartItems | keyvalue)?.length">
            <div class="border rounded shadow-sm m-2" *ngFor="let item of cartItems | keyvalue">
                <div class="row m-0 p-2">
                    <a routerLink="/product-details" [queryParams]="{id: item.key}"><img
                            class="img-fluid img-thumbnail border-0"
                            [src]="this.productService.getProduct(item.key)?.imageUrl" alt="Image Not Available" /></a>
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <h5 class="font-weight-bold">{{this.productService.getProduct(item.key)?.brand}}</h5>
                            <i (click)="openPopup('Remove From Cart', 'Are you sure you want to remove ' + this.productService.getProduct(item.key)?.name + ' from cart?', item.key)"
                                class="material-icons cursor text-danger" id="delete" data-toggle="tooltip"
                                title="Remove Product from Cart">
                                delete
                            </i>
                        </div>
                        <h6>{{this.productService.getProduct(item.key)?.name}}</h6>
                        <h6>{{this.productService.getProduct(item.key)?.mrp}}</h6>
                        <div>
                            <button class="btn btn-dark btn-sm" (click)="decreaseQuantity(item.key)"><i
                                    class="fa fa-minus"></i></button>
                            <span class="mx-2" id="qty_input">{{this.cartService.getProductQuantity(item.key)}}</span>
                            <button class="btn btn-dark btn-sm" (click)="increaseQuantity(item.key)"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" *ngIf="(cartItems | keyvalue)?.length">
            <h5 class="font-weight-bold m-2">Price Details</h5>
            <hr>
            <div class="border rounded shadow-sm m-2">
                <div class="row m-0 p-2">
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Total Items</h6>
                            <span class="font-weight-bold">{{this.cartService.getTotalQuantity()}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Total MRP</span>
                            <span class="justify-content-end">{{this.cartService.getTotalPrice().toLocaleString("en-IN",
                                {style:"currency", currency:"INR"})}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mr-2 justify-content-end">
                <button class="btn btn-sm btn-outline-primary btn-block ml-4" (click)="downloadOrderCSV()">Place
                    Order</button>
            </div>
        </div>
    </div>
</div>

<!-- empty cart -->
<div *ngIf="!(cartItems | keyvalue)?.length">
    <div class="d-flex justify-content-between align-items-center" style="height: calc(100vh - 200px);">
        <div class="container text-center">
            <img src="/assets/images/empty-cart.png" class="img-fluid" height="200px" width="200px">
            <p class="h5 mt-3">Your Cart is Empty</p>
            <p>Go to our <a routerLink="/">Products</a> page.</p>
        </div>
    </div>
</div>

<!-- confirm modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-modal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
            </div>
            <div class="modal-body">
                <p>{{modalBody}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger" *ngIf="currProductId != 0"
                    (click)="deleteProduct(currProductId)">Yes</button>
                <button type="button" class="btn btn-sm btn-outline-danger" *ngIf="currProductId == 0"
                    (click)="clearCart()">Yes</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal"
                    (click)="closePopup()">No</button>
            </div>
        </div>
    </div>
</div>

<!-- order placed modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="order-success-modal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content shadow">
            <div class="modal-header mx-auto">
                <h5 class="modal-title">Order Placed Successfully!</h5>
            </div>
            <div class="modal-body mx-auto">
                <img src="/assets/images/order-placed-successfully.png" alt="" class="img-fluid" height="200px"
                    width="200px">
            </div>
            <div class="modal-footer mx-auto">
                <a routerLink="">Explore More Products</a>
            </div>
        </div>
    </div>
</div>