.img-thumbnail {
  height: 10rem;
}

.text-danger {
  color: #a90d0dfa !important;
}

.btn-outline-danger {
  color: #a90d0dfa;
  border-color: #a90d0dfa;
}

.img-height {
  height: 7rem;
}

.cursor {
  cursor: pointer;
}
