<nav class="navbar navbar-expand navbar-light bg-dark sticky-top">
    <a class="navbar-brand" routerLink="">
        <img src="assets/images/brand-logo.png" class="img-fluid" alt="Increff Logo"
            style="filter: brightness(0) invert(1)" data-toggle="tooltip" title="Home">
    </a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/HTML/upload.html">
                <i class="material-icons text-white" data-toggle="tooltip" title="Upload Order CSV">upload_file</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link iconClass" routerLink="cart">
                <i class="material-icons text-white" data-toggle="tooltip" title="Cart">shopping_cart</i>
                <span class="badge badge-info" id="itemBadge"></span>
            </a>
        </li>
        <div class="row mx-2 my-2">
            <span class="text-white" id="navUser"></span>
        </div>
        <li class="nav-item cursor">
            <a class="nav-link" (click)="logout()">
                <i class="material-icons text-white" id="logout" data-toggle="tooltip" title="Logout">
                    logout
                </i>
            </a>
        </li>
    </ul>
</nav>