body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

input {
  text-align: center !important;
}

.img-thumbnail {
  height: 10rem;
}

.text-danger {
  color: #a90d0dfa !important;
}

.btn-outline-danger {
  color: #a90d0dfa;
  border-color: #a90d0dfa;
}

.img-height {
  height: 7rem;
}
