<div class="container-fluid mb-5">
    <!-- heading with sort -->
    <div class="row justify-content-md-between d-block d-md-flex m-0 mt-2 pr-2">
        <h2 class="my-auto">Products</h2>
        <div class="row justify-content-between mx-0">
            <h6 class="text-secondary mt-auto mr-2">Showing {{this.noOfResults}} Results</h6>
            <div class="mt-auto">
                <button class="btn btn-outline-secondary mr-2 d-lg-none p-0" type="button" data-toggle="collapse"
                    data-target="#filter-section">
                    <span class="material-icons align-middle" data-toggle="tooltip" title="Filters">
                        filter_alt
                    </span>
                </button>
                <select class="custom-select-sm btn btn-sm border-secondary" (change)="sortProducts($event)">
                    <option selected disabled>Sort</option>
                    <option value="1">Default</option>
                    <option value="2">Price : Low to High</option>
                    <option value="3">Price : High to Low</option>
                </select>
            </div>
        </div>
    </div>
    <hr class="mr-2">
    <div class="row justify-content-center m-0">
        <!-- filter sidebar -->
        <div class="card col-sm-12 col-lg-2 my-3 collapse d-lg-block" id="filter-section">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="font-weight-bold mt-1">FILTERS</h5>
                    <span class="material-icons my-auto cursor" data-toggle="tooltip" title="Clear All Filters">
                        filter_alt_off
                    </span>
                </div>
                <hr>
                <div id="brand-filter-section">
                    <div class="d-flex justify-content-between cursor" data-toggle="collapse"
                        data-target="#brand-filter">
                        <h6>BRAND</h6>
                        <span class="material-icons">
                            arrow_drop_down
                        </span>
                    </div>
                    <div class="form-check collapse" id="brand-filter" *ngFor="let brand of brands">
                        <input class="form-check-input" (change)="BrandFilter(this.brand, $any($event.target).checked)"
                            type="checkbox" id="{{this.brand}}">
                        <label class="form-check-label" for="{{this.brand}}">
                            {{this.brand}}
                        </label>
                    </div>
                </div>
                <hr>
                <div id="category-filter-section">
                    <div class="d-flex justify-content-between cursor" data-toggle="collapse"
                        data-target="#category-filter">
                        <h6>CATEGORY</h6>
                        <span class="material-icons">
                            arrow_drop_down
                        </span>
                    </div>
                    <div class="form-check collapse" id="category-filter" *ngFor="let category of categories">
                        <input class="form-check-input"
                            (change)="CategoryFilter(this.category, $any($event.target).checked)" type="checkbox"
                            id="{{this.category}}">
                        <label class="form-check-label" for="{{this.category}}}">
                            {{this.category}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- product grid -->
        <div class="card-group col-lg-10" *ngIf="this.noOfResults > 0">
            <div class="col-sm-custom col-md-custom col-lg-custom p-3" *ngFor="let item of filteredProducts">
                <div class="card h-100">
                    <a routerLink="product-details" [queryParams]="{id: item.id}"><img [src]="this.item.imageUrl"
                            class="card-img-top cursor img-fluid" alt="Image Not Available" /></a>
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <a routerLink="product-details" [queryParams]="{id: item.id}">
                            <h5>{{this.item.brand}}</h5>
                        </a>
                        <h6>{{this.item.name}}</h6>
                        <h6>Rs : {{this.item.mrp}}</h6>
                        <div>
                            <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                            <span class="mx-2" id="qty_input"></span>
                            <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- zero results -->
        <div *ngIf="this.noOfResults == 0" class="col-lg-10 my-auto" id="zero-results">
            <div class="text-center">
                <img src="/assets/images/product-not-found.png" class="img-fluid" height="200px" width="200px">
                <p class="h5 mt-3">No Products to Show</p>
            </div>
        </div>
    </div>
</div>