<!-- product details -->
<div class="container-fluid mb-5" id="product-details-container">
    <div class="row" *ngIf="this.product != null">
        <div class=" col-12 col-lg-6 col-xl-6 col-md-6 mt-4 text-center">
            <img class="img-fluid rounded" [src]="this.product.imageUrl" alt="Image Not Available" />
        </div>
        <div class="col-12 col-lg-6 col-xl-6 col-md-6 mt-4 text-left">
            <h3 id="product-brand">{{this.product.brand}}</h3>
            <h4 id="product-name" class="text-secondary">{{this.product.name}}</h4>
            <hr />
            <h4 id="product-price">{{this.product.mrp.toLocaleString("en-IN",
                {style:"currency", currency:"INR"})}}</h4>
            <h6 class="text-secondary">inclusive of all taxes</h6>
            <hr />
            <button class="btn btn-dark btn-sm" *ngIf="this.cartService.getProductQuantity(this.product.id) == 0"
                (click)="increaseQuantity(this.product.id)">Add to Cart</button>
            <div *ngIf="this.cartService.getProductQuantity(this.product.id) > 0">
                <button class="btn btn-dark btn-sm" (click)="decreaseQuantity(this.product.id)"><i
                        class="fa fa-minus"></i></button>
                <span class="mx-2">{{this.cartService.getProductQuantity(this.product.id)}}</span>
                <button class="btn btn-dark btn-sm" (click)="increaseQuantity(this.product.id)"><i
                        class="fa fa-plus"></i></button>
                <a routerLink="/cart" class="btn btn-sm btn-dark ml-3">Go to Cart</a>
            </div>
            <hr />
            <h5>PRODUCT DETAILS</h5>
            <p>{{this.product.description}}</p>
        </div>
    </div>
</div>

<!-- product not found -->
<div *ngIf="this.product == null" id="product-not-found">
    <div class="d-flex justify-content-between align-items-center" style="height: calc(100vh - 111px);">
        <div class="container text-center">
            <img src="/assets/images/product-not-found.png" class="img-fluid" height="200px" width="200px">
            <p class="h5 mt-3">We could not find any matches!</p>
            <p>Go to our <a routerLink="">Products</a> page.</p>
        </div>
    </div>
</div>

<!-- confirm modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
            </div>
            <div class="modal-body">
                <p>{{modalBody}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="deleteProduct(currProductId)">Yes</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal"
                    (click)="closePopup()">No</button>
            </div>
        </div>
    </div>
</div>