<div class="d-flex justify-content-center align-items-center custom">
    <div class="container col-10 col-lg-4 col-md-6 col-sm-7 p-4 border rounded shadow">
        <div class="row justify-content-center">
            <img src="/assets/images/brand-logo.png" alt="Increff Logo" />
        </div>
        <div class="row justify-content-center">
            <h2 class="text-center mt-2">Login</h2>
        </div>
        <!-- Login Form -->
        <form id="login-form" (submit)="login()">
            <div class="form-group">
                <label for="Email" class="font-weight-bold">Email</label>
                <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email"
                    placeholder="example@increff.com" required />
            </div>
            <div class="form-group">
                <label for="Password" class="font-weight-bold">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password"
                    required />
            </div>
            <div class="text-danger mb-2 text-center" *ngIf="wrongCredentials">
                Wrong Username or Password. Try Again!
            </div>
            <button type="submit" id="submit-button" class="btn btn-outline-primary d-block mx-auto">
                Submit
            </button>
        </form>
    </div>
</div>